In [1]:
import requests
import pandas as pd

### Scraping US state wise education data from wikipedia table (inturn sourced from US census)

In [2]:
URL = 'https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_educational_attainment'

response = requests.get(URL)

In [3]:
response

In [4]:
from bs4 import BeautifulSoup as BS

In [5]:
soup = BS(response.text)

In [6]:
tables = soup.find_all("table", {"class": "wikitable sortable"})

In [7]:
tables = soup.find_all("table")

table = tables[1]

#headers = [header.text.strip() for header in table.find_all("th")]

rows = table.find_all("tr")

data = []

for row in rows[1:]:
    cells = row.find_all("td")
    cell_data = [cell.text.strip().replace(",", "").replace("%", "") for cell in cells]
    data.append(cell_data)

correct_headers = ['State or Territory', 'Population over the age of 25',
                   'With a High School Diploma or higher - Population', 'With a High School Diploma or higher - Pct',
                   "With a Bachelor's Degree or higher - Population", "With a Bachelor's Degree or higher - Pct",
                   'With an Advanced Degree - Population', 'With an Advanced Degree - Pct']

df = pd.DataFrame(data, columns=correct_headers)

df.head()

,State or Territory,Population over the age of 25,With a High School Diploma or higher - Population,With a High School Diploma or higher - Pct,With a Bachelor's Degree or higher - Population,With a Bachelor's Degree or higher - Pct,With an Advanced Degree - Population,With an Advanced Degree - Pct
0,None,None,None,None,None,None,None,None
1,Alabama,3451208,3034741,87.93,946766,27.43,374490,10.85
2,Alaska,485779,453289,93.31,159290,32.79,57868,11.91
3,Arizona,4980297,4430934,88.97,1615081,32.43,629408,12.64
4,Arkansas,2037763,1806873,88.67,515034,25.27,190897,9.37

### Cleaning the scraped data in the data frame

In [8]:
df = df.iloc[1:-1].reset_index(drop=True)

In [9]:
df.dtypes

State or Territory                                   object
Population over the age of 25                        object
With a High School Diploma or higher - Population    object
With a High School Diploma or higher - Pct           object
With a Bachelor's Degree or higher - Population      object
With a Bachelor's Degree or higher - Pct             object
With an Advanced Degree - Population                 object
With an Advanced Degree - Pct                        object
dtype: object

In [10]:
df['With a High School Diploma or higher - Population'] = df['With a High School Diploma or higher - Population'].str.strip()
df['With a High School Diploma or higher - Pct'] = df['With a High School Diploma or higher - Pct'].str.strip()
df["With a Bachelor's Degree or higher - Population"] = df["With a Bachelor's Degree or higher - Population"].str.strip()
df["With a Bachelor's Degree or higher - Pct"] = df["With a Bachelor's Degree or higher - Pct"].str.strip()
df['With an Advanced Degree - Population'] = df['With an Advanced Degree - Population'].str.strip()
df['With an Advanced Degree - Pct'] = df['With an Advanced Degree - Pct'].str.strip()

In [11]:
df = df.drop(columns=['Population over the age of 25'])

In [12]:
df['With a High School Diploma or higher - Population'] = df['With a High School Diploma or higher - Population'].astype(float)
df['With a High School Diploma or higher - Pct'] = df['With a High School Diploma or higher - Pct'].astype(float)
df["With a Bachelor's Degree or higher - Population"] = df["With a Bachelor's Degree or higher - Population"].astype(float)
df["With a Bachelor's Degree or higher - Pct"] = df["With a Bachelor's Degree or higher - Pct"].astype(float)
df['With an Advanced Degree - Population'] = df['With an Advanced Degree - Population'].astype(float)
df['With an Advanced Degree - Pct'] = df['With an Advanced Degree - Pct'].astype(float)

In [13]:
df = df.rename(columns={'State or Territory': 'State'})

In [14]:
df['State'] = df['State'].str.lower()

In [16]:
df['State']=df['State'].str.replace("_"," ")

In [47]:
df.to_csv('/Users/alks/Downloads/DDA13/Python/capstone/data/cleaned_files/education_levels.csv', index=False)